.container {
  text-align: center;
}

.header {
  font-size: 2rem;
  font-weight: bold;
  background-color: #222;
  padding: 40px;
  color: white;
}

.intro {
  margin: auto;
  width: 50%;
  padding-bottom: 10px;
}

.row {
  height: 30px;
}

.item {
  display: inline-block;
  border: 1px solid black;
  height: 30px;
  width: 30px;
}

.item--alive {
  background-color: black;
}
